
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
  }
  
  .box {
    background-color: #1e40af;
    color: white;
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 0 30%;
    margin: 0.5rem;
    text-align: center;
  }
  
  .box a {
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
  }
  p{
    text-align: center;
    font-size: larger;
  }


  .box:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .box {
      flex: 1 0 100%;
    }
  }
  